<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LifecycleConfig</key>
	<dict>
		<key>InitialCoef</key>
		<integer>3</integer>
		<key>StepConsumption</key>
		<integer>1</integer>
		<key>EatenPreyValue</key>
		<integer>1</integer>
	</dict>
	<key>BornConfig</key>
	<dict>
		<key>PreyCoef</key>
		<real>0.5</real>
		<key>PredatorCoef</key>
		<real>0.3</real>
		<key>PositionThreshold</key>
		<integer>3</integer>
	</dict>
	<key>CreaturesFillConfig</key>
	<dict>
		<key>FillCoef</key>
		<real>0.6</real>
		<key>PreyCoef</key>
		<real>0.6</real>
	</dict>
	<key>MapSize</key>
	<dict>
		<key>Width</key>
		<integer>28</integer>
		<key>Height</key>
		<integer>20</integer>
	</dict>
</dict>
</plist>
